@font-face {
 font-family: 'roboto-light';
 src: url('../fonts/roboto/roboto-light.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'roboto-regular';
 src: url('../fonts/roboto/roboto-regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'roboto-bold';
 src: url('../fonts/roboto/roboto-bold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}